html {
	font-family: sans-serif;
	background-color: #f8f8f8;
	color: #333333;
	box-sizing: border-box;
}

body > div {
	max-width: 80ch;
}

body > div > * + * {
	margin-top: 0.5rem;
}

main {
	border: 1px solid darkslategray;
	padding: 0.5rem;
}
